* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: whitesmoke;
}

input,
button {
  height: 32px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 12px;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  opacity: 75%;
}

main {
  min-width: 375px;
  max-width: 768px;
  height: 99vh;
  min-height: 390px;
  max-height: 768px;
  margin: 0 auto;
}

.container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 50%;
}

.btn-icon {
  display: flex;
  height: auto;
  padding: 8px;
  background: none;
  border: none;

  > * {
    width: 100%;
    min-width: 16px;
  }
}

.hide {
  display: none;
}

#main-header {
  width: 100%;

  > * {
    margin: 12px;
  }
}

#title {
  width: 100%;
  position: relative;
  text-align: center;
}

#title-icon {
  width: 48px;
  position: absolute;
  left: 8px;
}

#toolbar {
  width: 96%;
}

#search-bar {
  position: relative;
  width: 100%;
}

#search-input {
  width: 100%;
  padding-left: 32px;
  margin-right: 12px;
}

#search-icon {
  width: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 75%;
}

#btn-new-contact {
  height: 28px;
  min-width: fit-content;
  background-color: lightskyblue;

  > * {
    margin: 4px;
  }
}

#main-form {
  width: 96%;
  margin: 8px auto;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;

  > * {
    padding: 8px;
  }
}

#icon-person-large {
  font-size: xx-large;
  font-weight: bold;

  > * {
    width: 64px;
    height: 64px;
  }
}

#form-contact {
  width: 100%;
}

#form-inputs {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  width: auto;
  margin: 0 auto;
  align-items: center;

  > input {
    text-align: center;
    width: 250px;
  }
}

#main-table {
  width: 96%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 8px;

  > * img {
    max-height: 16px;
  }

  > table {
    width: 100%;
    border-collapse: collapse;
  }

  > table tr {
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid gray;
  }

  > table tr:hover:not(#tr-default) {
    background-color: lightblue;
  }

  > table td {
    max-width: 40%;
    overflow-wrap: break-word;
  }

  > table td:not(:first-child, :last-child) {
    width: 100%;
    margin-left: 16px;
  }
}

#tr-default {
  justify-content: center;
}

@media screen and (max-width: 539px) {
  img {
    max-width: 32px;
  }

  input {
    max-width: min-content;
    max-height: 24px;
  }

  body {
    font-size: small;
  }

  #search-input {
    max-width: 100%;
  }

  #search-icon {
    top: 4px;
  }

  #form-controls {
    flex-direction: column;
  }  
}

@media screen and (max-width: 375px) {
  #main-form {
    flex-direction: column;
  }
  
  .btn-icon {
    padding: 4px;
  }
}
